.homenews {
  width: 70%;

  margin: 15rem auto;

  display: flex;
  justify-content: space-between;

  &__lasted {
    width: 50%;

    &--title {
      font-size: 3.4rem;
      color: $primary;

      margin-bottom: 4rem;
    }

    &--title-s {
      width: fit-content;
      color: $gray;

      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;

      padding-bottom: 1rem;
      border-bottom: 0.1rem solid $lightGray;
    }

    .hn-item {
      padding: 2rem 0;
      border-bottom: 0.1rem solid $lightGray;

      &--title {
        font-size: 1.8rem;
        padding: 1rem 0;

        @media screen and (max-width: $sm-min) {
          font-size: 1.6rem;
        }
      }

      &--date {
        font-size: 1.2rem;

        color: $gray;
      }
    }

    &--viewmore {
      margin-top: 3rem;

      font-size: 1.6rem;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
        color: $primary;
      }

      a {
        color: $lightGreen;
      }

      .cta {
        position: relative;
        margin: auto;
        padding: 19px 22px;
        transition: all 0.2s ease;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          border-radius: 28px;
          background: rgba($lightGreen, 0.5);
          width: 56px;
          height: 56px;
          transition: all 0.3s ease;
        }

        span {
          position: relative;
          font-size: 1.6rem;
          line-height: 1.8rem;
          letter-spacing: 0.2em;

          //vertical-align: middle;
        }

        svg {
          position: relative;
          top: 0;
          margin-left: 10px;

          stroke-linecap: round;
          stroke-linejoin: round;
          stroke: $primary;
          stroke-width: 2;
          transform: translateX(-5px);
          transition: all 0.3s ease;
        }

        &:hover {
          &::before {
            width: 100%;
            background: rgba($lightGreen, 1);

            color: red;
          }

          span {
            color: $white;
          }

          svg {
            transform: translateX(0);
          }
        }

        &:active {
          transform: scale(0.96);
        }
      }

      .MuiSvgIcon-root {
        font-size: 3rem;
      }
    }

    @media screen and (max-width: $sm-min) {
      width: 40%;
    }
  }

  &__img {
    width: 50%;

    img {
      width: fit-content;
      height: 100%;
      margin-left: auto;
    }
  }
}
