.introduce {
  width: 60%;
  margin: 33rem auto 6rem;

  text-align: center;

  .test {
    height: 100%;
  }

  &--title {
    font-size: 3.6rem;
    padding-bottom: 2rem;
  }

  &--text {
    font-size: 1.6rem;
  }
}
