.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;

  font-size: 1.4rem;

  @media screen and (max-width: $xxs-min) {
    flex-direction: column;
  }

  button {
    background-color: #fff;
    border: 1px solid #9591e9;
    margin: 0 5px;
    outline: none;

    cursor: pointer;

    transition: all 0.1s linear;

    .MuiSvgIcon-root {
      color: #9591e9;
      padding-top: 2px;
    }

    &.active {
      background-color: #eeeefd;
    }
  }

  &__notificate {
    display: flex;
    align-items: center;

    @media screen and (max-width: $md-phone) {
      display: none;
    }
  }

  &__sort {
    display: flex;

    @media screen and (max-width: $xxs-min) {
      margin: 3rem 0;
    }
  }
}
