$mw-footer: 90%;

.footer {
  background-color: #222;
  color: $lightGray;

  text-align: center;

  .MuiSvgIcon-root {
    font-size: 1.8rem;
  }

  &__container {
    width: $mw-footer;
    margin: auto;
    padding: 3rem 0;
  }

  &__res {
    display: none;
    padding-bottom: 4rem;

    @media screen and (max-width: $md-phone) {
      display: block;
    }

    img {
      width: 12rem;
      height: 12rem;

      margin: auto;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid $black;

    @media screen and (max-width: $sm-phone) {
      flex-direction: column;
      align-items: center;
    }

    &--item {
      width: calc(100% / 4);

      font-size: 1.6rem;

      @media screen and (max-width: $sm-min) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: $xs-min) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: $md-phone) {
        &:first-child {
          display: none;
        }
      }

      @media screen and (max-width: $sm-phone) {
        padding-bottom: 3rem;
      }

      img {
        width: 15rem;
        height: 15rem;

        margin: auto;

        @media screen and (max-width: $xs-min) {
          width: 13rem;
          height: 13rem;
        }
      }

      .MuiSvgIcon-root {
        font-size: 3rem;
        color: $lightGreen;
      }

      .heading {
        font-size: 1.6rem;
        font-weight: bold;

        padding: 1rem 0;
      }
    }
  }

  &__media-social {
    padding: 3rem 0;

    h4 {
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 2rem;

      font-size: 1.6rem;
      letter-spacing: 0.15rem;
    }

    &--icons {
      @include midflex;

      p {
        padding: 1rem;
        margin: 1rem 1.5rem;

        border-radius: 50%;

        box-shadow: 0.5rem 0.5rem 1rem #171717, -0.5rem -0.5rem 1rem #2d2d2d;
      }

      .fb {
        color: #4267b2;
      }

      .tw {
        color: #1da1f2;
      }

      .ig {
        color: #fbad50;
      }

      .yt {
        color: #e95950;
        font-size: 2rem;
      }
    }
  }

  &__map {
    padding-bottom: 3rem;

    iframe {
      width: 100%;
      height: 45rem;
    }
  }

  &__policy {
    display: flex;
    flex-direction: column;

    font-size: 1.4rem;

    small {
      padding: 0.5rem;
      color: #4a4a4a;
    }
  }
}
