.scroll-totop {
  display: none;

  padding-bottom: 5px;

  position: fixed;
  bottom: 100px;
  right: 23px;

  color: #fff;
  background-color: $lightGreen;

  font-size: 38px;

  border: none;
  border-radius: 50%;

  width: 6rem;
  height: 6rem;

  z-index: 999;

  cursor: pointer;

  animation: ani 1s ease-in-out infinite;

  @media screen and (max-width: $xs-min) {
    width: 4rem;
    height: 4rem;
  }

  p {
    text-align: center;
    padding: 0 0 0.7rem 0;
    transform: rotate(90deg);

    @media screen and (max-width: $xs-min) {
      padding: 0px 32px 8px 0px;
    }
  }

  &.active {
    display: block;
  }
}

@keyframes ani {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}
